<html>
    <!-- Header -->
    <%- partial('_partial/header') %>
    <!-- Header End -->
    <body class="w-full h-full">
        <!-- Navigation -->
        <div class="mb-20">
            <%- partial('_partial/navigation') %>
        </div>
        <!-- Navigation End -->
        <div class="text-3xl">hello world</div>
        <div class="h-96">a</div>
    </body>
</html>