<div class=" m-10">
  <div class="flex justify-center">
    <ul class="flex flex-row">
      <% for(let item of theme.navbar) { if (item.enable) { %>
      <li class="mx-5 transition duration-300 ease-in-out text-base font-medium hover:text-sky-500 hover:decoration-2 hover:underline hover:decoration-sky-500" data-path="<%- item.path %>">
        <a href="<%- item.path %>"><%- item.name %></a>
      </li>
      <% } } %>
    </ul>
  </div>
</div>

<%- js(['/js/activeNav.js']) %>
